<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Note</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>New Note</h1>
    </header>
    <div class="posts">
        <form method="post" action="/posts">
            <input type="text" name="username" placeholder="enter title">
            <input type="date" name="date" placeholder="enter date"><br><br>
            <textarea name="content" rows="10" cols="30"></textarea><br><br>
            <button>Submit</button>
        </form>    
    </div>
    
</body>
</html>